.card{
  perspective: 1000px;
}

.flip__card_container {
  height:100%;
  width: 100%;
  box-sizing: border-box;
  border: black solid 2px;

  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .flip__card_container{
  transform: rotateY(180deg);
}

.front, .back{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  backface-visibility: hidden;
  font-size: 20px;

  height:100%;
  width:100%;
}

.front{
  background-color: #666666;
  color: #dddddd;
}

.back{
  background-color: #fff;
  color: #000000;
  transform: rotateY(180deg);
}